<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451249225286-o7d5730a3u24mii84sfapqgn1cjse9e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451249225286-o7d5730a3u24mii84sfapqgn1cjse9e3</string>
	<key>API_KEY</key>
	<string>AIzaSyCoX9QV4m-5fiUQvsWLLA0hme-dEIW35PU</string>
	<key>GCM_SENDER_ID</key>
	<string>451249225286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bidslatvija.NotificationTemplate</string>
	<key>PROJECT_ID</key>
	<string>bids-package-dev-template</string>
	<key>STORAGE_BUCKET</key>
	<string>bids-package-dev-template.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451249225286:ios:69a090ec4f46d837431447</string>
</dict>
</plist>